= form_for @friend do |f|
  - if @friend.errors.any?
    #error_explanation
      h2
        =' pluralize(@friend.errors.count, "error")
        | prohibited this friend from being saved:

      ul
        - @friend.errors.full_messages.each do |msg|
          li = msg

  .control-group
    = f.label :name
    = f.text_field :name

  .form-actions
    =' f.submit class: "btn btn-primary", autocomplete: "off", \
      disable_with: "Updating…"
    = link_to "Cancel", :back, class: "btn", \
      disable_with: "Cancel…"

