
article.friend
  = link_to friend_path(friend), class: "row" do
    .span6.title
      h2 = friend.name

    - if friend.debt != 0
      .span3.owed class=variation(-friend.debt)
        - if friend.debt > 0
          | You owe #{currencize friend.debt}
        - if friend.debt < 0
          | Owes you #{currencize friend.debt.abs}


