%h1= t('.title')

- if @friends.empty?

  %p= t('.empty')
  %p= link_to t('bills.new.title'), new_bill_path, class: "btn btn-primary"

- else

  .row#pies
    .span6#youowe
    .span6#oweyou

  #friends.article-list
    = render @friends

