div.field,
div.actions {
  margin-bottom: 10px;
}

.alert,
.notice {
  margin: 0 10px 5px 10px;
  background: #8B008B;
  display: inline-block;
  padding: 0 10px 4px 10px;
  color: white;
  opacity: .5;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


body {
  background: #fafafa;
  font: 15px/18px Verdana, Arial, sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
}

a {
  color: #8B008B;
}
a:visited {
  color: #690069;
}

#menu {
  background: #8B008B;
  padding: 10px;
}
  #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    #menu li {
      display: inline;
    }
      #menu a {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 3px;
      }
        #menu a:last-of-type {
          border-right: none;
        }
        #menu a:hover,
        #menu a:active,
        #menu a:focus {
          background: #690069;
        }
        
        #menu li.sign_out {
          float: right;
          margin-top: -2px;
        }
        
#crumbs {
  float: left;
  margin-right: 5px;
}
  #crumbs a {
    color: #888;
    text-decoration:none;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
  }
    #crumbs a:after {
      content: '>';
      color: #aaa;
      padding-left: 5px;
      font-size: .8em;
    }
    #crumbs a:hover,
    #crumbs a:active,
    #crumbs a:focus {
      background: #eee;
      color: #000;
    }

#content {
  padding: 0 10px 10px 10px;
}

.negative {
  color: darkred;
}
.zero, .positive {
  color: darkgreen;
}

.friends,
.bills {
  margin-top: 20px;
}

.friend a,
.bill a {
  border-radius: 3px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  margin: 10px 0;
}
  .friend h2,
  .bill h2 {
    font-size: 1.2em;
    line-height: 1.2;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }
  
  .bill time,
  .friend .owed,
  .bill .owed {
    opacity: .5;
  }
  .bill .owed {
    float: left;
    margin-right: 15px;
  }
  .bill time {
    display: block;
    color: black;notice
  }

a.button {
  background: #eee;
  color: #333;
  border-radius: 3px;
  text-decoration: none;
  padding: 3px 6px;
  margin: 10px 0;
}
  a.button:visited {
    color: #666;
  }



table {
}
  th {
    text-align: left;
    padding-right: 1ex;
  }
