- cache(bill) do
  %article.bill
    = link_to bill_path(bill), class: "row" do
      .title
        %h2= bill.title

      %ul.debts
        - for debt in bill.debts
          %li.owed{ class: debt.variation_to(bill.user) }
            = debt.summary

      = bill.time_ago


