<nav class="crumbs">
  <ul class="breadcrumb">
    <li>
      <%= link_to @bill.automatic_title, @bill %>
      <span class="divider">/</span>
    </li>
    <li class="active">Edit</li>
  </ul>
</nav>

<h1>Edit</h1>

<%= render 'form' %>
