<% if user_signed_in? %>
<div class="hero-unit">
  <h1>Fricout</h1>
  <p>Start tracking debts!</p>
  <p>
    <%= link_to "New friend", new_friend_path, class: "btn btn-primary btn-large" %>
    <%= link_to "New bill", new_bill_path, class: "btn btn-primary btn-large" %>
  </p>
</div>
<% else %>
<div class="hero-unit">
  <h1>FricOut</h1>
  <p>The web app that calculates debts between friends.</p>

  <p>
    <%= link_to "Create an account", new_user_registration_path,
      class: "btn btn-primary btn-large" %>
    <%= link_to "Sign in", new_user_session_path,
      class: "btn btn-large" %>
  </p>
</div>
<% end %>

