.hero-unit

  h1 KillBills

  - if user_signed_in?
    p Start tracking debts!
    p
      = link_to "Create a new bill", new_bill_path, class: "btn btn-primary btn-large"

  - else
    p The web app that remembers debts for you.
    p
      =' link_to "Create an account", new_user_registration_path, \
        class: "btn btn-primary btn-large"
      = link_to "Sign in", new_user_session_path, \
        class: "btn btn-large"


