// Bill list
// ---------

article.bill > a {
  .debts {
    margin: 0;
    list-style: none;

    li {
      line-height: 33px;
    }
  }

  time {
    display: block;
    line-height: 33px;
    color: $textColor;
  }
}


// Bill form
// ---------
#bill-form {
  .participations {
    margin-top: 1em;

    .people {
      // Below portrait tablet (without columns)
      @media (max-width: 767px) {
        label {
          font-size: 1.5em;
          padding: .5em 0;
        }
      }
      select {
        width: 100%;
      }
    }
    .payment {
      input {
        width: 100%;

        // Fix for width 100% not working correctly
        @include border-box;
        height: $baseLineHeight + 4*2;
      }
    }
    .owed {
      select {
        width: 100%;
      }
    }
    .owed-result {
      // To occupy enough space before the js fills it in
      min-height: $baseLineHeight;

      // Portrait tablets and up (with columns)
      // Move it down to appear next to the owed select
      @media (min-width: 768px) {
        padding-top: 27px;
      }
    }
  }

  .bill-optional {
    margin-top: 2em;

    .date input {
      width: auto;
    }
  }

}


// Bill Show
// ---------

.bill-results {
  list-style: none;
  margin-top: $baseLineHeight;
  margin-bottom: $baseLineHeight;
  line-height: 2*$baseLineHeight;
  font-size: 1.25em;

  &::before {
    content: '\2937'; // ⤷
    font-size: 1.25em;
    line-height: $baseLineHeight;
    float: left;
    margin-right: .5ex;
    color: $grey;
  }
}

.bill-title {
  line-height: 2*$baseLineHeight;
}

.bill-date {
  font-size: 1.2em;
  line-height: 2*$baseLineHeight;
}

.bill-actions {
  line-height: 2*$baseLineHeight;
}

.bill-participations {
  width: 100%;
  margin: 1em 0;

  th, td {
    text-align: right;
    padding: 10%;
    font-weight: normal;
    font-size: 1.2em;
    text-align: right;
    padding: 1ex;
  }

  thead {
    border-bottom: 1px solid $grey;

  }
  tbody {
    .bill-total {
      border-top: 1px solid $lightgrey;
      color: $grey;
    }
  }
  
  .debt-row.positive,
  .credit-row.negative {
    visibility: hidden;
  }

  // Small screens
  @media (max-width: 480px) {
    .debt-row.positive {
      visibility: hidden;
    }
    .credit-row {
      display: none;
    }
    
    .debt-row.positive,
    .credit-row.negative {
      visibility: visible;
    }
  }
}
