// Bill list
// ---------

article.bill > a {
  @extend .row;
  .title {
    @extend .span6;
  }
  .debts {
    @extend .span3;
    margin: 0;
    list-style: none;

    li {
      line-height: 33px;
    }
  }

  time {
    @extend .span3;
    display: block;
    line-height: 33px;
    color: $textColor;
  }
}


// Bill form
// ---------
#bill-form {
  .participations {
    margin-top: 1em;

    // Over portrait tablet size (with columns)
    // hide all column labels except the first line.
    @media (min-width: 766px) {
      .column-label, .increment {
        display: none;
      }
      .row:first-child .column-label {
        display: block;
      }
    }

    .people {

      // Below portrait tablet (without columns)
      @media (max-width: 767px) {
        .column-label {
          font-size: 1.5em;
          padding: .5em 0;
        }
      }

      .you {
        padding: 6px 0;
      }
      select {
        width: 100%;
      }
    }
    .payment {
      input {
        width: 100%;

        // Fix for width 100% not working correctly
        @include border-box;
        height: $baseLineHeight + 4*2;
      }
    }
    .owed {
      .owed-result {
        line-height: 29px;
        margin-left: 1ex;
        float: left;
      }
    }
  }

  .bill-optional {
    margin-top: 2em;

    .date input {
      width: auto;
    }
  }

}


// Bill Show
// ---------

.bill {
  .results {
    margin-top: 1em;
    line-height: 2*$baseLineHeight;
  }

  .date {
    font-size: 1.2em;
    line-height: 2*$baseLineHeight;
  }

  .participations {
    width: 100%;
    margin: 1em 0;

    th, td {
      text-align: right;
      padding: 10%;
      font-weight: normal;
      font-size: 1.2em;
      text-align: right;
      padding: 1ex;
    }

    thead {
      border-bottom: 1px solid $grey;

    }
    tbody {
      .bill-total {
        border-top: 1px solid $lightgrey;
        color: $grey;
      }
    }
    
    .debt-row.positive,
    .credit-row.negative {
      visibility: hidden;
    }

    // Small screens
    @media (max-width: 480px) {
      .debt-row.positive {
        visibility: hidden;
      }
      .credit-row {
        display: none;
      }
      
      .debt-row.positive,
      .credit-row.negative {
        visibility: visible;
      }
    }
  }
}
