$color: #8B008B;
$darker: darken($color, 5%);
$lighter: lighten($color, 5%);

$grey: #888;
$lightgrey: #eee;
$darkgrey: #404040;

$text: #333;
$background: #fafafa;

$red: darkred;
$green: darkgreen;

