// Colors http://bit.ly/P4Chd6

$color: #fd2;
$darker: #ec4; //darken($color, 5%);
$lighter: lighten($color, 5%);

$red: #b32;
$black: #200;

$grey: #888;
$lightgrey: #eee;
$darkgrey: #404040;

$text: #333;
$background: #fafafa;

// Bootstrap config

$linkColor: $darker;
$navbarBackground: $darker;
$navbarBackgroundHighlight: $color;
$navbarLinkColor: $black;
$navbarLinkColorHover: $red;

