@mixin font-sans {
 font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin font-impact {
  font-family: Impact, Futura, 'Arial Black', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
