// Friends index
.nojs {
  #pies {
    display: none;
  }
}

.js {
  #pies {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    #youowe,
    #oweyou {
      min-height: 124px;
    }
  }
}
