body {
  color: $text;
  background: $background;
  font: 15px/18px Verdana, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

#menu {
  background: $color;
  padding: 10px $gutter-width;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      a {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        @include border-radius(3px);

        &:hover,
        &:active,
        &:focus {
          background: $darker;
        }
      }

      &#sign_out {
        float: right;
      }
    }
  }
}

#crumbs {
  float: left;
  margin-right: 5px;

  a {
    color: $grey;
    text-decoration:none;
    padding: 5px;
    display: inline-block;
    @include border-radius(3px);

    &:after {
      content: '>';
      padding-left: 5px;
      font-size: .8em;
    }
    &:hover,
    &:active,
    &:focus {
      background: $lightgrey;
      color: $text;
    }
  }
}

#content {
  padding: $gutter-width;
}

