// Loader
// <div class="loader">
//  <div class="loader-bar loader-1"></div>
//  <div class="loader-bar loader-2"></div>
//  <div class="loader-bar loader-3"></div>
// </div>

.loader {
  position: absolute;
  left: 30px;
  top: 30px;
  div {
    $radius: 22px;
    margin-left: 5px;
    background-color: $color;
    float: left;
    height: $radius;
    width: $radius;
    @include border-radius($radius/2);
    @include named-animation(loader, 1.5s, infinite, linear);
    &.loader-1 { @include animation-delay(0.3s) }
    &.loader-2 { @include animation-delay(0.7s) }
    &.loader-3 { @include animation-delay(0.9s) }
  }
}

@-webkit-keyframes loader {
  0%   { opacity: .3 }
  50%  { opacity:  1 }
  100% { opacity: .3 }
}
@-moz-keyframes loader {
  0%   { opacity: .3 }
  50%  { opacity:  1 }
  100% { opacity: .3 }
}
@-o-keyframes loader {
  0%   { opacity: .3 }
  50%  { opacity:  1 }
  100% { opacity: .3 }
}
@-ms-keyframes loader {
  0%   { opacity: .3 }
  50%  { opacity:  1 }
  100% { opacity: .3 }
}
@keyframes loader {
  0%   { opacity: .3 }
  50%  { opacity:  1 }
  100% { opacity: .3 }
}

