// Linear gradient with two colors
// Examples:
//   @include linear-gradient-2-colors(#fff, #000);
//   @include linear-gradient-2-colors(red, blue, 25%, 60%);
@mixin linear-gradient-2-colors($color1, $color2, $stop1: 0%, $stop2: 100%) {
  background-color: $color1;
  background-image: -o-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background-image: -ms-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background-image: -webkit-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background-image: -moz-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background-image: linear-gradient(top, $color1 $stop1, $color2 $stop2);
  
  background-image: -webkit-gradient(
	  linear,
	  left top,
	  left bottom,
	  color-stop($stop1, $color1),
	  color-stop($stop2, $color2)
  );
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin named-animation($name, $duration, $iterations, $direction) {
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: $iterations;
  -webkit-animation-direction: $direction;
  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-iteration-count: $iterations;
  -moz-animation-direction: $direction;
  -o-animation-name: $name;
  -o-animation-duration: $duration;
  -o-animation-iteration-count: $iterations;
  -o-animation-direction: $direction;
  -ms-animation-name: $name;
  -ms-animation-duration: $duration;
  -ms-animation-iteration-count: $iterations;
  -ms-animation-direction: $direction;
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $iterations;
  animation-direction: $direction;
}

@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  -ms-animation-delay: $delay;
}

