@import 'config';
@import 'mixins';
@import 'fonts';

@import 'bootstrap';
@import 'bootstrap-responsive';

@import 'bills';


// Fix to bootstrap-responsive
// ---------------------------

// Tablets and Below
@media (max-width: 979px) {
  .navbar .nav {
    clear: left;
  }
}

.navbar-inner {
  border-radius: 0;
}


// Generic classes
// ---------------

.negative {
  color: $red;
}

.zero {
  color: $grey;
}
.positive {
  color: $green;
}


// Result
// ------

.result {
  list-style: none;
  font-size: 1.25em;

  &::before {
    // Arrow left of the text
    content: '\2937'; // ⤷
    font-size: 1.25em;
    line-height: $baseLineHeight;
    float: left;
    margin-right: .5ex;
    color: $grey;
  }
}
.results {
  list-style: none;
  margin: 0;

  li {
    @extend .result;
  }
}


// Form magic
// ----------
label {
  cursor: pointer;
}

// Radio buttons that look like buttons
// HTML needed:
//   <li><input type="radio" name="truth" value="1"><span class="btn">Yes</span></li>
//   <li><input type="radio" name="truth" value="0"><span class="btn">No</span></li>
.radio-toggles {
  list-style: none;
  margin: 0;

  li {
    float: left;

    // Hide the radio inputs
    input {
      position: absolute;
      top: -5em;
    }

    // Buttons
    span.btn {
      border-radius: 0;
    }

    // Checked buttons
    input:checked + span.btn {
      @extend .active;
    }

    // First button
    &:first-child span.btn {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    
    // Last button
    &:last-child span.btn {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}


// Articles (bills and friends)
// ----------------------------

article > a {
  display: block;
  h2 {
    font-size: 18px;
    display: inline;
    font-weight: normal;
    color: $color;
    border-bottom: 1px solid $lightgrey;//lighten(desaturate($color, 60%), 60%);
  }
  &:visited h2 {
    color: darken($color, 10%);
  }
  &:hover h2 {
    color: darken($color, 20%);
    border-bottom-color: inherit;
  }

  &:hover {
    text-decoration: none;
  }
}

// Auth

nav.auth {
  ul {
    list-style: none;
    margin: 0;
  }
}
