p = Welcome #{@resource.email}!

p You can confirm your Kill Bills account through the link below:

p = link_to 'Confirm my Kill Bills account', \
  confirmation_url(@resource, confirmation_token: @resource.confirmation_token)

p Cheers,
p Kill Bills
p link_to root_url, root_url
