%p= Bonjour #{@resource.email}!

%p Vous pouvez confirmer votre compte Kill Bills via le lien ci-dessous :

%p= link_to 'Confirmer mon compte Kill Bills', confirmation_url(@resource, confirmation_token: @resource.confirmation_token)

%p À plus,
%p Kill Bills
%p link_to root_url, root_url
