%p Bonjour #{@resource.email} !

%p Quelqu'un (probablement vous) a demandé à modifier le mot de passe de votre compte Kill Bills, suivez ce lien pour modifier votre mot de passe :

%p= link_to 'Changer mot mot de passe Kill Bills', edit_password_url(@resource, reset_password_token: @resource.reset_password_token)

%p Si vous n'avez rien demandé, vous pouvez ignorer cet email.
%p Votre mot de passe ne changera que si vous suivez le lien précédent et remplissez un nouveau mot de passe.

%p À plus,
%p Kill Bills
%p link_to root_url, root_url
