%p Bonjour #{@resource.email}!

%p Votre compte Kill Bills a été bloqué après que quelqu'un (soit vous, soit un Ninja) ait tenté trop de mots de passes différents.

%p Cliquez sur le lien suivant pour débloquer votre compte:

%p= link_to 'Débloquer mon compte Kill Bills', unlock_url(@resource, unlock_token: @resource.unlock_token

%p À plus,
%p Kill Bills
%p link_to root_url, root_url
